.env
profiles.yml
*.env
auth.json

__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

logs/
plugins/__pycache__/
config/__pycache__/
.dockerignore
*user.yml

target/
dbt_packages/
dbt_modules/

.DS_Store
Thumbs.db
.vscode/